<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Symptoms</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Select Symptoms</h1>
    <form id="symptomForm">
      <label
        ><input type="checkbox" name="symptom" value="Adanya_imago" /> Adanya
        Imago</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Adanya_larva" /> Adanya
        Larva</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Adanya_embun_jelaga" />
        Adanya Embun Jelaga</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Adanya_telur" /> Adanya
        Telur</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Batang_busuk_berbau" />
        Batang Busuk Berbau</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Kutu_Daun" /> Adanya
        Vektor Kutu Daun</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Kutu_Kebul" /> Adanya
        Vektor Kutu Kebul</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Buah_berubah_warna" />
        Buah Mengalami Perubahan Warna</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Buah_gugur" /> Buah
        Gugur</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Buah_membusuk" /> Buah
        membusuk</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Busuk_bentuk_lingkaran" />
        Terdapat Busuk Berbentuk Lingkaran</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Busuk_pada_buah_matang" />
        Terdapat Busuk Pada Buah Matang</label
      ><br />
      <label
        ><input
          type="checkbox"
          name="symptom"
          value="Chilli_Veinal_Mottle_Virus"
        />
        Adanya Chilli Veinal Mottle Virus (CVMV)</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_berkerut" /> Daun
        Berkerut</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_melengkung" /> Daun
        Melelngkung</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_mengeriting" /> Daun
        Mengeriting</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_warna_coklat" /> Daun
        Berubah Warna Kecoklatan</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_warna_kekuningan" />
        Daun Berubah Warna Kekuningan</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Daun_warna_keperakan" />
        Daun Berubah Warna Keperakan</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Layunya_perlahan" />
        Mengalami Layu Secara Perlahan</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Lingkaran_busuk_cincin" />
        Terdapat Lingkaran Busuk Berbentuk Cincin</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Lingkaran_busuk_hitam" />
        Terdapat Lingkaran Busuk Bewarna Hitam</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Mosaik_pada_buah" />
        Terdapat Mosaik Pada Buah</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Mosaik_pada_daun" />
        Terdapat Mosaik Pada Daun</label
      ><br />
      <label
        ><input
          type="checkbox"
          name="symptom"
          value="Pola_serangannya_merata"
        />
        Pola Serangannya Merata</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Pola_serangannya_spot" />
        Pola Serangannya Spot</label
      ><br />
      <label
        ><input
          type="checkbox"
          name="symptom"
          value="Produksi_bunga_terhambat"
        />
        Produksi Bunga Terhambat</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Sisa_tusukan_pada_buah" />
        Terdapat Sisa Tusukan Pada Buah</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Tanaman_bewarna_putih" />
        Tanaman Berwarna Putih</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Tanaman_kerdil" /> Tanaman
        Menjadi Kerdil</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Tanaman_layu" /> Tanaman
        Menjadi Layu</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Tangkai_daun_memanjang" />
        Tangkai Daun Memanjang</label
      ><br />
      <label
        ><input type="checkbox" name="symptom" value="Tulang_daun_menguning" />
        Tulang Daun Menguning</label
      ><br />
      <label
        ><input
          type="checkbox"
          name="symptom"
          value="Tunas_baru_mudah_rontok"
        />
        Tunas Baru Mudah Rontok</label
      ><br />

      <!-- Tambahkan gejala lain yang diperlukan di sini -->
      <br />
      <button type="button" onclick="selectSymptoms()">Submit</button>
      <button type="button" onclick="clearCheckboxes()">
        Clear Checkboxes
      </button>
    </form>

    <div id="resultContainer">
      <!-- Container untuk menampilkan hasil posteriors -->
    </div>

    <script>
      function selectSymptoms() {
        const form = document.getElementById("symptomForm");
        const selectedSymptoms = Array.from(form.elements["symptom"])
          .filter((input) => input.checked)
          .map((input) => input.value);

        // Kirim data gejala yang dipilih ke backend (Flask)
        fetch("/process_symptoms", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ symptoms: selectedSymptoms }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Tampilkan hasil posteriors ke dalam container resultContainer
            const resultContainer = document.getElementById("resultContainer");
            resultContainer.innerHTML = "<h2>Total Posteriors:</h2>";
            data.forEach((item) => {
              resultContainer.innerHTML += `<p>${item}</p>`;
            });
          })
          .catch((error) => console.error("Error:", error));
      }
      function clearCheckboxes() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
          checkbox.checked = false;
        });
      }
    </script>
  </body>
</html>
